#footer {
    color: #fff;
    img {
        height: 25px;
    }
}
#firma {
    font-family: 'Ballet', cursive;
    font-weight: 500 !important;
    font-size: 25px !important;
    text-shadow: 2px 1px hsla(51, 100%, 50%, 0.6);
}