#formation {
    
    .title{
                // Metal Aurum //
        background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
        // Metal //
        // background-image: radial-gradient( circle farthest-corner at 5.6% 54.5%,  rgba(47,71,79,1) 0%, rgba(159,188,198,1) 83.6% );
        // Arena //
        // background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(233,175,132,1) 0%, rgba(186,126,81,1) 95.6% );
        // background-image: radial-gradient( circle 1091px at 106.5% 111.5%,  rgba(250,246,213,1) 0.1%, rgba(218,147,93,1) 42.2%, rgba(137,86,67,1) 74.3%, rgba(67,39,39,1) 100.2% );
        // Agua //
        // background-image: radial-gradient( circle 674px at 18.3% 77%,  rgba(139,186,244,1) 3.4%, rgba(15,51,92,1) 56.6% );
        // background-image: radial-gradient( circle 386px at 0% 62.1%,  rgba(16,224,254,1) 0%, rgba(15,19,196,1) 100.7% );
    }
    color: #fff;
    text-shadow: 1px 2px black;
   
    .carousel-inner {
        background-image: url("https://i.ibb.co/BrxQrrR/pexels-pavel-danilyuk-7944238.jpg");
        background-size: cover;
        border-radius: 20px;
        img {
            max-height: 50vh;
            border-radius: 20px;
            object-fit: contain;
        }
    }
}